@import 'fonts';
@import 'settings';
@import 'foundation-emails';
@import 'hacks';

img.logo-img{
  max-width:70%;
}

th.inner{
  padding:30px 0 20px 0;
}

table.radius .inner,
table.logo .columns{
  padding-left: 49px;
  padding-right: 49px;
  @media only screen and (max-width: #{$global-breakpoint}) {
      padding-left: $global-gutter !important;
      padding-right: $global-gutter !important;
  }
}

table.radius .inner{
  @media only screen and (max-width: #{$global-breakpoint}) {
      padding-top: $global-gutter !important;
  }
}




table.footer{
  background:none;
  p{
    margin-bottom: 0;
    Margin-bottom: 0;
    line-height: 1;
  }
}

a{
  &.float-right{float:right;}
  &.quiet{
    color:$medium-gray;
    &:hover{
      color:$primary-color;
    }
  }
}

h1{
  small{
    color:$black;
    font-size:70%;
    font-weight:400;
  }

  &.massive{
    font-size:60px;
    line-height: 1.1;
    margin-bottom: 39px;
    white-space: nowrap;
    @media only screen and (max-width: #{$global-breakpoint}) {
      font-size:40px !important;
      white-space: normal !important;
      margin-bottom: $header-margin-bottom !important;
    }
    small{
      color:$black;
      font-size:40%;
      font-weight:400;
    }
  }
}

table.row.whlogo {
  border-bottom:1px solid #dee7eb;

  .columns{
    padding-left:29px;
    padding-right:29px;
    padding-bottom:0;
  }
}

table.row.logo {
  border-bottom:1px solid #dee7eb;

  th.columns{
    padding-left:29px;
    padding-right:29px;
    padding-bottom:23px;
    padding-top:23px;
  }
}


table.container.radius {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #c7d0d4;
  margin-top:15px;
  margin-bottom:15px;
}

table.row.inner{
  .grab th{
      padding-top: 35px;
      padding-bottom: 35px;
      border-top: 1px solid #E7EBEE;
  }
}

img.np-logo{
  width: 40px !important;
}

.emp, .inner p a{
  color:$button-background;
  font-weight:600;
}
