---
subject: Event Reminder
description: \{{ RegistrationInstance.Name }} reminder for {% for registrant in Registration.Registrants %}{{ registrant.PersonAlias.Person.FullName }} {% endfor -%}
---

<container class="radius">
  {{> logo }}
  <row>
    <columns class="inner">
      {% capture currencySymbol %}\{{ 'Global' | Attribute:'CurrencySymbol' }}{% endcapture %}
      {% capture externalSite %}\{{ 'Global' | Attribute:'PublicApplicationRoot' }}{% endcapture %}
      {% assign registrantCount = Registration.Registrants | Size %}

      <h1>\{{ RegistrationInstance.RegistrationTemplate.RegistrationTerm }} Reminder</h1>

      <p>
          \{{ RegistrationInstance.AdditionalReminderDetails }}
      </p>

      <p>
          The following \{{ RegistrationInstance.RegistrationTemplate.RegistrantTerm | PluralizeForQuantity:registrantCount | Downcase }}
          {% if registrantCount > 1 %}have{% else %}has{% endif %} been registered:
      </p>

      <ul>
      {% for registrant in Registration.Registrants %}
          <li>\{{ registrant.PersonAlias.Person.FullName }}</li>
      {% endfor %}
      </ul>


      {% if Registration.BalanceDue > 0 %}
      <p>
          This \{{ RegistrationInstance.RegistrationTemplate.RegistrationTerm | Downcase  }} has a remaining balance
          of \{{ currencySymbol }}\{{ Registration.BalanceDue | Format:'#,##0.00' }}.
          You can complete the payment for this \{{ RegistrationInstance.RegistrationTemplate.RegistrationTerm | Downcase }}
          using our <a href='\{{ externalSite }}/Registration?RegistrationId=\{{ Registration.Id }}&rckipid=\{{ Registration.PersonAlias.Person.UrlEncodedKey }}'>
          online registration page</a>.
      </p>
      {% endif %}

      <p>
          If you have any questions please contact \{{ RegistrationInstance.ContactName }} at \{{ RegistrationInstance.ContactEmail }}.
      </p>

    </columns>
  </row>
<spacer size="23"></spacer>
</container>

{{> footer }}
