---
subject: Wherehouse Group Attendance Reminder
description: Hi {{ Person.NickName }}, send us your Wherehouse small group attendance.
---

{% assign today = 'Now' | Date:'yyyyMMdd' %}
{% assign occurrenceDate = Occurrence | Date:'yyyyMMdd' %}
{% capture attendanceLink %}\{{ 'Global' | Attribute:'PublicApplicationRoot' }}page/368?\{{ Person.ImpersonationParameter }}&GroupId=\{{ Group.Id }}&Occurrence=\{{ Occurrence | Date:'yyyy-MM-ddTHH\%3amm\%3ass' }}{% endcapture %}

<container class="radius">
  {{> whlogo }}
  <row>
    <columns class="inner">
      {% if today == occurrenceDate %}
      <h1 class="text-center massive">Hi \{{ Person.NickName }}!<br/><small>we can&#8217;t wait to see you tonight</h1>
      {% else %}
      <p>Hi \{{ Person.NickName }},</p>
      {% endif %}
      <p>Please remember to enter attendance for your Wherehouse small group {% if today == occurrenceDate %}tonight.{% else %}{% if today > occurrenceDate %}that met on \{{ Occurrence | Date:'dddd' }}. If you didn&#8217;t meet, no problem! Just take attendance, and mark <i>we did not meet</i> to let us know.{% else %}that meets on \{{ Occurrence | Date:'dddd' }}.{% endif %}{% endif %}</p>

      <spacer size="16"></spacer>
        <center>
              <button class="rounded large" href="\{{ attendanceLink }}">Enter Attendance</button>
        </center>
      <spacer size="16"></spacer>

    </columns>
  </row>

</container>

{{> footer }}
