---
subject: New Pending Group Members | {{ 'Global'  | Attribute:'OrganizationName' }}
---

\{{ 'Global' | Attribute:'EmailHeader' }}

<p>
    \{{ Person.NickName }},
</p>

<p>
    We wanted to make you aware of additional individuals who have taken the next step to connect with
    group. The individuals' names and contact information can be found below. Our
    goal is to contact new members within 24-48 hours of receiving this e-mail.
</p>

<table cellpadding="25">
{% for pendingIndividual in PendingIndividuals %}
    <tr><td>
        <strong>\{{ pendingIndividual.FullName }}</strong><br />
        {% assign mobilePhone = pendingIndividual.PhoneNumbers | Where:'NumberTypeValueId', 136 | Select:'NumberFormatted' %}
        {% assign homePhone = pendingIndividual.PhoneNumbers | Where:'NumberTypeValueId', 13 | Select:'NumberFormatted' %}
        {% assign homeAddress = pendingIndividual | Address:'Home' %}

        {% if mobilePhone != empty %}
            Mobile Phone: \{{ mobilePhone }}<br />
        {% endif %}

        {% if homePhone != empty %}
            Home Phone: \{{ homePhone }}<br />
        {% endif %}

        {% if pendingIndividual.Email != empty %}
            \{{ pendingIndividual.Email }}<br />
        {% endif %}

        <p>
        {% if homeAddress != empty %}
            Home Address <br />
            \{{ homeAddress }}
        {% endif %}
        </p>

    </td></tr>
{% endfor %}
</table>


<p>
    Once you have connected with these individuals, please mark them as active.
</p>

<p>
    Thank you for your on-going commitment to \{{ 'Global' | Attribute:'OrganizationName' }}.
</p>

\{{ 'Global' | Attribute:'EmailFooter' }}
