<span class="preheader">\{{ RegistrationInstance.Name }} is coming up this \{{ Registration.RegistrationInstance.StartDateTime | Date:'dddd' }} at \{{ Registration.RegistrationInstance.StartDateTime | Date:'h:mm tt' | Downcase }}</span>

<container class="radius">
  {{> logo }}
  <row>
    <columns class="inner">
      <h3>Hi \{{ Person.NickName }},</h3>

      <p>
          \{{ RegistrationInstance.AdditionalReminderDetails }}
      </p>

      <p>
          The following \{{ RegistrationInstance.RegistrationTemplate.RegistrantTerm | PluralizeForQuantity:registrantCount | Downcase }}
          {% if registrantCount > 1 %}have{% else %}has{% endif %} been registered:
      </p>

      <ul>
      {% for registrant in Registration.Registrants %}
          <li><strong class="emp">\{{ registrant.PersonAlias.Person.FullName }}</strong></li>
      {% endfor %}
      </ul>

      <p>
          If you have any questions please contact \{{ RegistrationInstance.ContactName }} at <a href="mailto:\{{ RegistrationInstance.ContactEmail }}">\{{ RegistrationInstance.ContactEmail }}</a>.
      </p>

    </columns>
  </row>

<row class="innerfooter">
<columns class="grab">
<a href="https://www.northpointe.org" class="float-right">Home</a>
</columns>
  </row>
</container>

{{> footer }}
