<span class="preheader">You have been successfully registered for \{{ RegistrationInstance.Name }}</span>

<container class="radius">
  {{> logo }}
  <row>
    <columns class="inner">
      <h3>Hi \{{ Person.NickName }},</h3>

      <p>
          The following \{{ RegistrationInstance.RegistrationTemplate.RegistrantTerm | PluralizeForQuantity:registrantCount | Downcase }}
          {% if registrantCount > 1 %}have{% else %}has{% endif %} been registered for \{{ RegistrationInstance.Name }} on \{{ Registration.RegistrationInstance.StartDateTime | Date:'MMMM d' }} at \{{ Registration.RegistrationInstance.StartDateTime | Date:'h:mm tt' | Downcase }}:
      </p>

      <ul>
      {% for registrant in Registration.Registrants %}
          <li>

              <strong class="emp">\{{ registrant.PersonAlias.Person.FullName }}</strong>

              {% if registrant.Cost > 0 %}
                  - \{{ currencySymbol }}\{{ registrant.Cost | Format:'#,##0.00' }}
              {% endif %}

              {% assign feeCount = registrant.Fees | Size %}
              {% if feeCount > 0 %}
                  <br/>\{{ RegistrationInstance.RegistrationTemplate.FeeTerm | PluralizeForQuantity:registrantCount }}:
                  <ul>
                  {% for fee in registrant.Fees %}
                      <li>
                          \{{ fee.RegistrationTemplateFee.Name }} \{{ fee.Option }}
                          {% if fee.Quantity > 1 %} (\{{ fee.Quantity }} @ \{{ currencySymbol }}\{{ fee.Cost | Format:'#,##0.00' }}){% endif %}: \{{ currencySymbol }}\{{ fee.TotalCost | Format:'#,##0.00' }}
                      </li>
                  {% endfor %}
                  </ul>
              {% endif %}

          </li>
      {% endfor %}
      </ul>

      <p>
          \{{ RegistrationInstance.AdditionalConfirmationDetails }}
      </p>

    </columns>
  </row>

<row class="innerfooter">
<columns class="grab">
<a href="https://www.northpointe.org" class="float-right">Home</a>
</columns>
  </row>
</container>

{{> footer }}
