<span class="preheader">Data update for \{{ FirstName }} \{{ LastName }}</span>

<container class="radius">
  {{> nplogo }}
  <row>
    <columns class="inner">
<h1>Forgot your username or password?<br><small>Let&#8217;s get you a new one.</small></h1>

{% assign people_count = Results | size %}
{% if people_count == 1 %}

  {% for Result in Results %}
    <p class="lead">Hi \{{ Result.Person.NickName }} \{{ Result.Person.LastName }},</p>
    {% assign user_count = Result.Users | size %}
    {% if user_count == 1 %}
      {% for User in Result.Users %}
        Your username is <span class="emp">\{{ User.UserName }}</span>
        <spacer size="16"></spacer>
        <center>
          <button class="rounded large" href="\{{ ConfirmAccountUrl }}?cc=\{{ User.ConfirmationCodeEncoded }}&action=reset">Reset Password</button>
        </center>
        <spacer size="16"></spacer>
      {% endfor %}
    {% else %}
      You have multiple usernames assigned to this account
      {% for User in Result.Users %}
        <span class="emp">\{{ User.UserName }}</span>
        <spacer size="16"></spacer>
        <center>
          <button class="rounded large" href="\{{ ConfirmAccountUrl }}?cc=\{{ User.ConfirmationCodeEncoded }}&action=reset">Reset Password</button>
        </center>
        <spacer size="16"></spacer>
      {% endfor %}
    {% end %}
  {% endfor %}

{% else %}
  <p class="lead">Looks like a few people share this email account. If that doesn&#8217;t sound right email <a class="emp" href="mailto:hello@northpointe.org">hello@northpointe.org</p>

    {% for Result in Results %}
      <p class="lead">For \{{ Result.Person.NickName }} \{{ Result.Person.LastName }}:</p>
      {% for User in Result.Users %}
      <p><strong>Username:</strong> <span class="emp">\{{ User.UserName }}</span></p>
                       <spacer size="16"></spacer>
                       <center>
                         <button class="rounded large" href="\{{ ConfirmAccountUrl }}?cc=\{{ User.ConfirmationCodeEncoded }}&action=reset">Reset Password</button>
                       </center>
                       <spacer size="16"></spacer>
      {% endfor %}
    {% endfor %}

{% end %}




</columns>
</row>
<spacer size="23"></spacer>
</container>

{{> footer }}
