<container class="footer">
  <row>
    <columns>
      <p class="text-center"><small>Sent with &hearts; from <a class="quiet" href="https://www.northpointe.org/">NorthPointe</a>
        <!-- <br>2787 W Bullard Ave #101, Fresno, CA 93711 -->
</small></p>
      <img width="40" class="float-center np-logo" src="https://northpointemail.s3.amazonaws.com/logo/the-n.png">

      <!-- <p class="text-center"><small>2787 W Bullard Ave #101, Fresno, CA 93711</small></p> -->
    </columns>
  </row>
</container>
