<container class="footer">
  <spacer size="10"></spacer>
  <row>
    <columns>
      <p class="text-center"><small>Sent with &hearts; from
        <a class="quiet" href="https://www.northpointe.org/">
          NorthPointe
        </a>
        <br/>{{ rockmail_address }}
</small></p>
<spacer size="10"></spacer>
<center>
      <img width="40" class="float-center np-logo" src="https://northpointemail.s3.amazonaws.com/logo/the-n.png" />
</center>
  </row>
  <!-- Modify UnsubscribeOption via Admin Tools / Communications / Communication Mediums  -->
  <p class="text-center"><small>[[ UnsubscribeOption ]]</small></p>
<spacer size="30"></spacer>
</container>
